@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');
body{
    background-color:#eee8e4 !important;
    font-family: 'Ubuntu', sans-serif;
}

.contact-img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}